* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f6f8;
  color: #111;
}

.container {
  width: 90%;
  max-width: 1224px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

.primary-btn {
  background: #ff6600;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
}
