.sale-card {
  position: relative;
  width: 184px;
  height: 237px;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.sale-card img {
  width: 168px;
  height: 146px;
  object-fit: contain;
}

.card-info {
  width: 168px;
  height: 55px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  margin: 0;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #0c0c0c;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-prices {
  width: 168px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old-price {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #717171;
  text-decoration: line-through;
}

.new-price {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #0c0c0c;
  text-align: right;
}

.discount-badge {
  position: absolute;
  left: 0;
  top: 8px;
  min-width: 40px;
  height: 23px;
  padding: 4px 6px;
  border-radius: 0 8px 8px 0;
  background: #fddbc9;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  color: #f45e0c;
}
