.breadcrumb-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 216px;
  height: 24px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 241px;
    height: 30px;
    margin: 0; /* Reset margins */
}

.breadcrumb-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    height: 30px;
}

.breadcrumb-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
}

.breadcrumb-link.gray {
    color: #717171;
}

.breadcrumb-link.primary {
    color: #0C68F4;
}

.breadcrumb-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.active-border {
    border-bottom: 1px solid #0C68F4;
}

@media (min-width: 375px) and (max-width: 428px) {
    .breadcrumb-container,
    .breadcrumb {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .breadcrumb-link {
        font-size: 14px;
        line-height: 17px;
    }

    .breadcrumb-arrow {
        width: 18px;
        height: 18px;
    }
}
